<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<section>
  <div class="container py-2">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mb-4 h-100">
          <div class="card-body text-center flex-column">
            <img src=""
                 th:src="@{${contact.image != null ? '/image/' + contact.image : 'https://www.seekpng.com/png/detail/966-9665493_my-profile-icon-blank-profile-image-circle.png'}}"
                 alt="Profile Picture" class="rounded-circle img-fluid" style="width: 250px;">
            <h5 class="my-3"
                th:text="${contact.name + ' ' + (contact.secondName != null ? contact.secondName : '')}"></h5>
            <p class="text-muted mb-1" th:text="${contact.work != '' ? 'Work: ' + contact.work : ''}"></p>
            <div class="card-body mt-3">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"
                     th:text="${contact.name + ' ' + (contact.secondName != null ? contact.secondName : '')}"></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" th:text="${contact.email}"></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" th:text="${contact.phone}"></p>
                </div>
              </div>
              <hr>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <p class="mb-0">Description</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"
                     th:text="${contact.description != '' ? contact.description : 'No Description Available'}"></p>
                </div>
              </div>
            </div>
            <form th:action="@{'/user/update-contact/' + ${contact.contactId}}" method="post">
              <div class="d-flex justify-content-center mb-2">
                <button th:attr="onclick=${'deleteContact('+ '''' + contact.contactId + '''' + ')'}" type="button"
                        class="btn btn-danger">Delete
                </button>
                <button type="submit" class="btn btn-outline-primary ms-1">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>