<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<section>
  <div class="card col-md-10 offset-md-1">
    <div class="card-body">
      <h1 class="text-center mb-3">Contact List</h1>

      <!-- Contact Card -->
      <div class="card border-primary mb-3 col-md-10 offset-md-1" th:each="contact : ${contacts}">
        <div class="row g-0">
          <div class="col-md-4 border-primary">
            <img src="" th:src="${contact.image}" class="img-fluid rounded-start card-img-top" alt="Contact Image">
          </div>
          <div class="col-md-8 border-primary">
            <div class="card-body">
              <h5 class="card-title" th:text="${contact.name + ' ' + (contact.secondName != null ? contact.secondName : '')}"></h5>
              <p class="card-text"></p>
              <p class="card-text" th:text="${contact.email}"></p>
              <p class="card-text" th:text="${contact.phone}"></p>
              <p class="card-text" th:text="${contact.work != '' ? 'Work: ' + contact.work : ''}"></p>
              <p class="card-text" th:text="${contact.description != '' ? 'Description: ' + contact.description : ''}" style="font-style: italic; color: #555;"></p>
              <button class="btn btn-danger btn-md">Delete</button>
              <button class="btn btn-primary btn-md">Update</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${page == 0} ? 'disabled' : ''">
            <a class="page-link" th:href="@{'/user/show-contacts/' + ${page-1}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li th:classappend="${page == i-1 ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/' + ${i-1}}" th:text="${i}"></a></li>
          <li class="page-item" th:classappend="${page+1 != totalPages ? '' : 'disabled'}">
            <a class="page-link" th:href="@{'/user/show-contacts/' + ${page+1}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
</body>
</html>